/*.hero-body {
    background: purple;
    color: white;
}*/
.titulo {
    font-size: 1.8rem;
    font: bold;
}
.post {
    position: relative;
    padding: 20px;
}

.red {
    background:#f8c9c1;
    text-align: justify;
}
.pink {
    background: #ffdae0;
    text-align: justify;
}
.blue{
    background: #cae9ef;
    text-align: justify;
}
.gold {
    background: #fcf5b6;;
    text-align: justify;
}
.green {
    background: #e7f0da;    
    text-align: justify;
}
.gray {
    background: #e7f0da;
    text-align: justify;
}
.purple {
    background:#f8c9c1;
    text-align: justify;
}
.silver {
    background: #C0C0C0;
    text-align: justify
}

.footer { height: 50px; border-top: .1em solid gray}
.column {width: auto;}

div .silver {
    width: 600px;
    display:block;
  	margin-left: auto;
	margin-right: auto;
}

div .silver h2 {
    font-size: 30px;
}
div .silver p {
    font-size: 15px;
}
